body {
	font-size : 14px;
	background-color: #FFFFFF;
}

.navbar {
	/*background-color: #3474f6;
	background-image: -webkit-linear-gradient(top,#3474f6 0,#3474f6 100%);*/
	margin-bottom:0px;
}

.row {
	font-size : 14px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #BFBEBE;
}

.form-control {
	font-size : 14px;
}

.form-group {
	margin-bottom : 5px;
}

.form-control-checkbox {
	width : 0;
}

label {
	padding-top: 5px;
}

table {
  border-collapse: unset;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 2px;
}

/*
classes dropdown
*/

/*.dropdown-zone {
	min-width: 600px;
	background-color : #E6E6E6;
	padding: 5px;
}*/

.barre_recherche_element {
	padding-right: 0px;
	padding-left: 0px;
}
.barre_recherche_input {
	border-radius: 0px;
}

aside.formulaire {
	background-color : #E6E6E6;
	border-radius: 5px;
}

/******************************************************************************/

table.calendrier {
	background-color: #D2DBE9;
	border-width: 1px;
	border-style: solid;
	border-color: #7e7e89;
}

th {
	background-color: #babac5;
	/* background-color: #000000; */
	color: white;
	font-size: 8pt;
	font-family: verdana;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	/* width: 266px; */
}



td
{
	-webkit-user-select: none;
	-moz-user-select: none;
}	
 
.jour_ouvre
{
	background-color: #FFFFFF;
}
.jour_ferme
{
	background-color: #A4A4A4;
}

.jour_ferie
{
	background-color: #F5FC2A;
}

.rtt1
{
	background-color: #4DFE2A;	
}
.rtt2
{
	/*background-color: #A1FF8E;*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #4DFE2A 5px, #4DFE2A 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #4DFE2A 5px, #4DFE2A 10px);
}

.conges1
{
	background-color: #039FD8;	
}
.conges2
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #7DDAFC 5px, #7DDAFC 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #7DDAFC 5px, #7DDAFC 10px);
}

.cpa1
{
	background-color: #5cdcf8;	
}
.cpa2
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #5cdcf8 5px, #5cdcf8 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #5cdcf8 5px, #5cdcf8 10px);
}

.cps1
{
	background-color: #BCA9F5;	
}
.cps2
{
	/*background-color: #7DDAFC;	*/
	color: white;
	background: -webkit-repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #BCA9F5 5px, #BCA9F5 10px);
	background: repeating-linear-gradient(135deg, #ffffff, #ffffff 5px, #BCA9F5 5px, #BCA9F5 10px);
}

.periodeComplete {
	background-color: #A1FF8E;
}

.periodeIncomplete {
	background-color: #FE9A2E;
}

.periodeTropSaisi {
	background-color: #FE2E2E;
}

.th_mois_encours {
	color: blue;
}

.total_jour {
	background-color: #BABAC5;
	text-align: right !important;
	color: white;
}



.radio-group {
  display: inline-block;
}
/*****************************************************************/
.radio-card {
  display: flex;
  gap: 12px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #ddd;
  color: white;
  /*background-color: #0078ae;*/
  background: #0078ae url("assets/ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x;

}

.radio-card.first {
  border-radius: 10px 10px 0px 0px;
}

.radio-card.last {
  border-radius: 0px 0px 10px 10px;
}

.radio-card.selected {
  background: #6eac2c url("assets/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x;
}

